:root{
--dark-gray:#1e2224;
--blue:#00adee;
--white:white;
--light-gray:#a5aaac;
}


h2{
    font-size: 37px;
    color: var(--white);
}
/* html, body {
  overflow: hidden;
} */

img{
    width: 100%;
    height: 100%;
}
body{
    
    background-color: var(--dark-gray);
}
main{
    padding: 0 150px 0 150px;
}

header{
    display: flex;
    justify-content: space-between;
background-color: var(--dark-gray);
padding: 15px 270px;


}
/* -------------------------hovers---------------- */
.header_li:hover{
    transition:0.5s;
    background-color: var(--light-gray);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
 width: 80px;
 height: 40px;
}

.headLI:hover{
      background-color: var(--light-gray);
    border-radius: 5px;
 width: 160px;
 height: 40px;
}
.header_P1:hover{

    color: #016184;
    transition: 0.3s;
}
.header_p2:hover{
    background-color: #2e3031;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.img_div4_header:hover{
   cursor: pointer;
   

}
.picture:hover{
    cursor: pointer;
 transform: scale(105%);
    overflow: hidden;
 
}
.vrclad_button:hover{
    cursor: pointer;
     background-color: #016184;
     transition: 0.3s;

}
.vrclad_div:hover{
    cursor: pointer;
 background-color: #016184;
   transition: 0.3s;
}
.main1:hover{
    cursor: pointer;
     background-color: #016184;
       transition: 0.3s;
}
.footer_p:hover{
    color: #FFF;
    cursor: pointer;
}
.child1_div:hover{
    cursor: pointer;
    background-color: var(--light-gray);
}
.footdiv:hover{
     background-color: rgb(230, 230, 230);
     transition: 0.3s;
     cursor: pointer;
}
.jj:hover{
    background-color: #1e2224;
}
.login:hover{
    color: var(--light-gray);
}
.enter_Div:hover{
    cursor: pointer;
}
.sidebar_p:hover{
    cursor: pointer;
     /* padding-top: 7px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
  width: 120px;
  height: 40px;
    background-color:rgb(225, 225, 225); */
    color: var(--blue);
   
}

.profile_LI:hover{
    cursor: pointer;
}
.header_payment_cards:hover{
    
cursor: pointer;
}
.ccolored:hover{
    color: var(--light-gray);
}
.baground_colored:hover{
    color: var(--light-gray);
}


/* ----------------------------------------------------- */

.header_child1{
    display: flex;
    align-items: center;
}
.header_child2{
    display: flex;
    align-items: center;
 
    gap: 20px;
}
.child2_div1{
    display: flex;
}
.child2_div2{
    display: flex;
    align-items: center;
}


/* --------------------------------------------------- */

.img_div_header{width: 75px; height: 60px;

}
.img_div4_header{
    margin-left: 35px;
    width: 25px; height: 25px;
}
.img_div3_header{
    align-items: center;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    
width: 20px; height: 20px;
}
.header_P1{
    color: var(--blue);
}
.header_p2{
     margin: 0;
    color: var(--light-gray);
}
li{
    color: var(--white);
}
ul{
list-style: none;
display: flex;
gap: 20px;

}

.img_div2_header{
    width: 30px;
    height: 30px;
}
/* --------------------------------------------------- */


.article1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article2{
    margin-top: 97px;
     display: flex;
    align-items: center;
    justify-content: center;
  
}
.article3{
    margin: 90px 0 80px 0;
 display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    gap:70px;
}

.child2{
    width: 420px;
    height: 370px;
   
}
.gg{
     border-radius: 10px;
  
}

.child1{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.child1_p{
    color: var(--light-gray);
}
.vrclad_button{
    margin-top: 10px;
     border-radius: 5px;
    color: var(--white);
    text-decoration: none;
    padding: 17px 10px 5px 37px;
    width: 140px;
    height: 60px;
    background-color: var(--blue);
}
p{
    font-size: 18px;
}


.article2_div{
    display: flex;
   flex-direction: column;
gap: 30px;
}

/* -------------not my code-------------------------------------------- */

.slider {
  position: relative;
  width: 70%;
  width: 1300px;
  margin-left: 17px;
  overflow: hidden;
  border-radius: 20px;
  height: 370px;
}

.slides {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(70%);
}

.text {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
  display: f;
}

.text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text button {
  background: #00b7ff;
  border: none;
  padding: 10px 25px;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}



.dots {
  text-align: center;
  position: absolute;
  bottom: 20px;

  left: 0;
  right: 0;
}

.dots span {
      border-radius: 15px;
  display: inline-block;
  width: 23px;
  height: 5px;
  margin: 5px;
  background: rgb(72, 72, 72);
  cursor: pointer;
}

.dots .active {
  background: rgb(186, 186, 186);
}
/* ------------------------------------------------------- */
.sec1_h2{
    font-size: 25px;
    margin-left:180px;
}
.section1{
    display: flex;
     /* padding-top: 140px; */
    justify-content: center; 
    
}
.container_section1{
   display: flex;
   gap: 25px;
   margin-top: 40px;
 
}
.chevron{
    width: 40px;
    height: 35px;
    position: absolute;
  right: 20px;
    bottom: 20px;
}
.child1_sec1{
    position: relative;
 max-width: 580px;
    height: 480px;
    
}
.child2_sec1{
display: flex;
flex-direction: column;
gap: 20px;
}
.texts{
    color: var(--white);
    font-size: 20px;
    position: absolute;
    bottom:25px;
    left: 20px;
}



.pic1{
    
    position: relative;
    width: 430px;
    height: 230px;
}
.pic2{
    position: relative;
     width: 430px;
    height: 230px;
}
.picture{
    display: block;
    object-fit: cover;
  transition: transform 0.4s ease;
  transform-origin: center;
    border-radius: 12px;
}

/* ------------------------------------------------------------------ */

.article4{
    margin-top: 150px;
    
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}
.banner{
    border-radius: 12px;
}
.art4_div{
    position: relative;
    width: 1040px;
    height: 200px;
}
.ar4_p{
    color: var(--white);
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50px;
}
.QR{
    position: absolute;
    top: 19%;
    right: 50px;
    width: 280px;
    height: 140px;
}
/* -------------------------------------------------------------------- */
.pictureL{
    border-radius: 10px;
}
.section2{
    display: flex;
    justify-content: center;
  margin-bottom: 120px;
}
.container_Sec2{
    display: flex;
    align-items: center;
    gap: 130px;
}

.sec2_child1{
    width: 450px;
    height: 350px;
}
.sec2_child2{
   
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec2_p{
    color: var(--white);

}
.h2_sec2{
    font-size: 22px;
}
.sec2{
    border: none;
    padding: 0 ;
}
/* ---------------------------------------------------------------- */

.article5{
    display: flex;
    justify-content: center;

}


.banner_container{

    position: relative;
    width: 1040px;
    height: 400px;

}
.mc{
    border-radius: 15px;

}
.vrclad_div{

    background-color: var(--blue);
    width: 130px;
    height: 60px;
    border-radius: 10px;
    justify-content: center;
display: flex;
align-items: center;
gap: 7px;
position: absolute;
bottom: 140px;
left: 30px;
}
.GG{
    width: 20px;
    height: 20px;
}
a{
    text-decoration: none;
    color: var(--white);
}
.art5_h2{
    position: absolute;
    top: 80px;
    left: 30px;
}
.QR{
    width: 400px;
}
/* -------------------------------------------------------------------- */
.section3{
    display: flex;
    justify-content: center;
}
.maincontainer{
    display: flex;
    gap: 30px;
}
.h2{
 
    font-size: 23px;
    margin: 70px 0 30px 180px;
}
 .main1{
    display: flex;
    flex-direction: column;
    gap: 15PX;
    padding: 20px;
    border-radius: 10px;
    width: 327px;
    height: 250px;
    background-color: #2e3031;

}
.main1_pic{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.H2{
    font-size: 20px;
}
.P{
    font-size: 15PX;
    color: var(--light-gray);
}
.ccolored{
     padding-top: 7px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
  width: 120px;
  height: 40px;
    background-color:rgb(225, 225, 225);
}
/* --------------------------------------------- */
.ountside_Div{
    margin: 40px 0 40px 175px;
    display: flex;
    align-items: center;
    gap: 800px;
    height: 50px;

    
}


/* --------------------------------------------- */
.footer_p{
    color: var(--light-gray);
    font-size: 15px;
}
.footer_h2{
    font-size: 18px;
}
.footer_card{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer{
    background-color: #2e3031;
    height: 600px;
    padding: 30px 110px 0 110px;
}
.main_container{
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
.second_container{

    display: flex;
    justify-content: right;
    margin: 40px 260px 0 0 ;
    gap: 10px;
}
.icon_div{
    display: flex;
gap: 10px;
}
.icons{
    width: 20px;
    height: 20px;
}
.footdiv{
    width: 120px;
    height: 60px;
    border-radius: 10px;
   border: 1px solid lightgray;
   justify-content: center;
   align-items: center;
   
display: flex;
}

.iconss{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
/* -----------------------------------------------
 */
.j{
    margin-bottom: 50px;
}
 .cc{
    margin-right: 35px;
 }
.parent_footer{
    margin-top: 40px;
    border-top: 1px solid var(--light-gray);
    display: flex;
    justify-content: space-between;
}

.child1_footer{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
.child2_footer{
    display: flex;
    align-items: center;
     margin-top: 40px;
}
.child1_div{
    width: 45px;
    height: 45px;
    background-color: #31383A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hhs{
    width: 100px;
    height: 90px;
}

.child1_div_icon{
    width: 20px;
    height: 20px;
}


/* ------------------------------------------------ */
.last_footer{
    margin-top: 50px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.card_1{
    display: flex;
  align-items: center;
  
}
.card_2{
    display: flex;
     align-items: center;
    gap: 15px;
}
.tbc_loggo{
    width: 50px;
    height: 30px;
}
/* ----------------------------login css----------------------------------------------- */
.body2{
    background-color: #ffff;
    height: 100vh;
    display: flex;
     justify-content: center;
    align-items: center;

}

.forgotP{
    font-size: 14px;
    color: var(--blue);
    position: absolute;
    top: 343px;
    left: 310px;
}
input{
    position: relative;
    padding-left: 15px;
   margin-top: 20px;
   border: none;
   background-color: rgb(231, 231, 231);
    margin-left: 20px;
    width: 400px;
    height:55px;
    border-radius: 5px;
    
    
}
.login_h2{
    margin-left: 23px;
    color: black;
    margin-bottom: 20px;
}
.login_container{
    position: relative;

    width: 700px;
    height: 600px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
}
.tbc_loggo_login{
   
margin-top: 20px;
    width: 140px;
        height: 90px;

}
.login{
    margin-left: 24px;
}
#check{
    margin-left: 23px;
background-color: var(--dark-gray);
width: 15px;
}
.remember_me{
    display: flex;
    gap: 5px;
    align-items: center;
    
}
.remember_meP{
    font-size: 15px;
    margin-top: 27px;
    color: rgb(205, 205, 205);
}
.enter{
    display: flex;
    justify-content: center;
     width: 400px;
    height:55px;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    margin-left: 20px;

}
.enter_p{
    color: #ffff;
}
.enter_Div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.arrow_enter{
    width: 15px;
    height: 15px;
}
.last_logindiv{
    margin: 10px 0 0 23px;
    display: flex;
    flex-direction: column;
}
.first_P{
        font-size: 15px;
        color: rgb(207, 207, 207);
}
.second_p{
      font-size: 15px;
        color: var(--blue);
}
.qr{
position: absolute;
right: 17px;
top: 250px;
    width: 210px;
    height: 250px;
}
/* ------------------------------------------------paymentspace--------------- */
.side_bar{
    background-color: #ffff;
    padding-left: 13px;
    padding-top: 10px;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1PX solid rgb(234, 234, 234);
}
.side_bar_Container{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sidebar_cards{
   
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar_logo{
    width: 210px;
    height: 40px;
    margin:0 12px  50px 0;

}
.sidebar_p{
    font-size: 16px;
    color: var(--light-gray);
}
.cards_image_a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.cards_image{
    width: 35px;
    height: 35px;
}
.GSP{
    margin-left: -4px;
    width: 40px;
    height: 40px;
}
.T{
    margin-left: 6px;
    width: 25px;
    height: 27px;
}
.DC{
    margin-left: 3px;
    width:30px;
    height: 25px;
}
.twintowers{
    margin-left: -3px;
}
.body3{
  
    position: relative;
   background-color:   #ebebeb;
}
.header_payment{
    position: relative;
    padding-left: 100px;
    background-color: #ffff;
    top: 0;
    left: 250px;
    height: 65px;
    width: 85.3%;

    
    position: absolute;
}
.header_payment_div{
   display: flex;
   gap: 20px;


   position: absolute;
   top: 20px;
   right: 150px;
   align-items: center;
  

}
.header_payment_cards{
    width: 20px;
    height: 20px;
}
.globus{
    position: absolute;
    right: 60px;
    display: flex;
    gap: 7px;
    width: 20px;
    align-items: center;
}

/* ------ */

.sec_main{
    position: absolute;
    
    top: 100px;
    left: 150px;
}
.payment_h2{
    color: rgb(88, 88, 88);
    font-size: 22px;
}
.payment_a{
    color: var(--white);
    background-color: var(--blue);
    padding: 10px;
    border-radius: 10px;
}
.cube{
    width: 90px;
    height: 90px;
}
.changed{
      padding-left: 370px;
    display: flex;
    border-radius: 5px;
    width: 1350px;
    height: 500px;
    background-color: #ffff;
}

.main_Div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}


/* ------------------ */

.secondmain{
      position: absolute;
  
    top: 200px;
    left: 307px;
}

.secondpayment{
   
    border-radius: 15px;
    display: flex;
    width: 1100px;
    height: 300px;
    background-color: #ffff;
}
.profile{
    position: absolute;
    border-top: 1px solid lightgray;
    top: 65px;
}
.profile_LI{
    color: rgb(133, 133, 133);
}
.colored{
    color: var(--blue);
}
.baground_colored{
    padding-top: 7px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
  width: 120px;
  height: 40px;
    background-color:rgb(225, 225, 225);
}
.main_divv{
    
    display: flex;
    width: 1100px;
    height: 300px;
}
.z{
    border-right: 1px solid var(--light-gray);
}
.boxs{
    padding: 15px 0 10px 25px;
  

    width: 320px;
    height: 100%;
}
.boxdiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}
.cardd{
    margin: 20px 0 30px 50px;
  width: 140px;
  height: 100px;
  

}
.carddd{
    margin: 13px 60px 13px;
      width: 140px;
  height: 100px;
}
.box3{
     padding: 15px 0 10px 25px;
color: #FFF;
    width: 460px;
    background-color: var(--blue);
  border-radius: 5px;
}
input{
    outline: none;
}
.lastine{
    width: 120px;
    height: 90px;
    margin-top: 40px;
    margin-left: 140px;
    margin-bottom: 25px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input_B{
   
    margin-left: -3px;
    width: 270px;
}
.last_button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
width: 150px;
height: 50px;
  border-radius: 5px;
    border: 1px solid white;
}
.amount_div{
    display: flex;
    align-items: center;
    
    gap: 10px;

}
.ptag{
    color: rgb(148, 148, 148);
    font-size: 17px;
}
.numbers{
    color: var(--light-gray);
}
span{
    color: black;
}
.PT{
    color: var(--blue);
}




